@require "../application.styl";

div.dropdown { width:100%;
    &.error>button { border-color:#a94442; }
	>button, >ul { width:100%; }
	>button {
		>span { float:left; }
		>i { float:right; vertical-centre(20px); }
	}
}