@import "nib"

// Variables

secondary-font-colour = #F28E41

header-height = 50px

spacing = 15px


// Mixins

vertical-centre(height)
	height height
	line-height height !important
	display inline-block
	vertical-align middle


// Main

h1, h2, h3, h4 { padding:0; margin:0; }
body>div.content { position:relative; top:header-height+spacing; padding:spacing 0; }


// Header

header { 
	.logo { color:secondary-font-colour !important; font-weight:bold; text-transform:uppercase;
		&:hover { color:secondary-font-colour !important; }
	}
    
	.account-info { float:right; color:white; font-size:0.875em; margin-top:8px;
		>span { float:right; }
		>a { float:right; cursor:pointer; }
	}
}


// Management

.management-container {
	>h1 { float:left; }
	>div.actions { float:right; }
    
    #new-user-modal {
        .modal-body {
            >input, >select { width:100%; margin-top:spacing;
                &:first-child { margin-top:0; }
            }
        }
    }
}