@import "nib"

// Variables

secondary-font-colour = #F28E41

header-height = 50px

spacing = 15px


// Main

body>div.content { position:relative; top:header-height; padding:spacing 0; }


// Header

.navbar .logo { color:secondary-font-colour; font-weight:bold; text-transform:uppercase;
    &:hover { color:secondary-font-colour !important; }
}