@require "../application.styl";

.management-container {
	>h1 { float:left; }
	>div.actions { float:right; }
    
    #new-user-modal {
        .modal-body.container { width:100%;
			.row>.col { margin-bottom:spacing; }
        }
    }
}